li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header {
    height: 145px;
    border-bottom: #58c7e9;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: #58c7e9;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.header__navbar-item {
    padding: 0 4px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    align-items: center;
}

.header__navbar-item.header__navbar-item-date {
    margin-top: 0px;
}

.header__navbar-item--log {
    font-size: 2rem;
    font-weight: 300;
}

.header__navbar-item--separate::after {
    display: block;
    position: absolute;
    border-left: 1px solid #000;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.search-bar {
    border-radius: 3px;
}

.search-button-icon {
    background-color: #FFFBF4;
    border: none;
}

.search-button-icon:hover {
    cursor: pointer;
}

.header__navbar-item.header__navbar-item--log {
    cursor: pointer;
}

.menu {
    border-top: 1px solid #a5dbf8;
    height: 40px;
    flex: auto;
    display: flex;
    border-bottom: 4px solid #a5dbf8;
}

.menu>li {
    position: relative;
    /* Cho phép định vị tương đối */
    bottom: -5px;
    padding: 0 45px;
    position: relative;
}

.menu>li a {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
}

.menu>li a:hover {
    color: var(--primary-color);
}


/* ----------footer----------- */

.footer {
    border-top: 4px solid #a5dbf8;
}

.footer-item>a {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 300;
}

.footer-item>a:hover {
    color: var(--primary-color);
}

.footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-lienhe-item {
    display: inline;
    font-size: 15px;
}


/* ----------auth_login----------- */

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 35px;
    margin-top: 13px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border: #888;
}

.auth-form__poli {
    text-align: center;
}

.auth-form__poli-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-fg {
    padding-top: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}


/* -----------button----------- */

.btn {
    min-width: 120px;
    height: 30px;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {
    cursor: default;
}


/* ----TrangNhat----- */

.trangnhat {}

.baoto {
    padding: 0 100px;
}

.baoto__anh {
    background-color: #FFFBF4;
}

.baoto_loai>a {
    font-size: 25px;
    color: var(--text-color);
    line-height: 1.5;
}

.baoto_tieude>a {
    font-size: 30px;
    color: var(--text-color);
    line-height: 1.5;
}

.baoto_tomtat>a {
    font-size: 15px;
    color: var(--text-color);
    line-height: 1.5;
}

.tacgia_thoigian {
    display: flex;
    align-items: center;
    /* Sắp xếp các phần tử theo chiều dọc */
}

.tacgia-thoigian {
    display: flex;
    gap: 10px;
    /* Khoảng cách giữa "Tác giả" và "Thời gian" */
}

.dot {
    content: '·';
    /* Ký tự phân cách */
    margin: 0 5px;
    /* Khoảng cách xung quanh ký tự phân cách */
}

.container {
    display: flex;
    gap: 0;
}

.baonho {
    display: flex;
    /* Bật chế độ flexbox cho phần tử cha */
    flex-direction: column;
    /* Sắp xếp các phần tử con theo chiều dọc */
}

.baonho-bao1,
.baonho-bao2,
.baonho-bao3,
.baonho-bao4 {
    flex: 1;
    /* Cho phép các phần tử con chia đều không gian còn lại */
        width: 300px;
    /* Giới hạn chiều rộng tối đa là 300px */
    height: 300px;
    /* Chiều cao cố định 300px */
}

.baonho-bao1 {
    padding: left -100px;
}

.baonho-tieude a {
    font-size: 15px;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;
    max-width: 300px;
    max-height: 4em;
}